# Variables de entorno para el Backend
# Cópialo como ".env" y llena los datos

# Para conectarte a tu PostgreSQL local:
# Formato: postgres://USUARIO:CONTRASEÑA@HOST:PUERTO/NOMBREDATOS
# Ejemplo:
# DATABASE_URL=postgres://postgres:admin123@localhost:5432/learnwithsanti

# Para Render, esto se configura solo.
